apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: app
  labels:
    app: app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      nodeSelector:
        node-role: app-node
        topology.ebs.csi.aws.com/zone: us-west-2a
      containers:
        - name: app
          image: ibrahimmintal/shorten-url:latest
          ports:
            - containerPort: 8080
