# 2. ServiceAccount + Role + RoleBinding for Jenkins to talk to the Kubernetes 
apiVersion: v1
kind: ServiceAccount
metadata:
  name: jenkins-sa
  namespace: jenkins

  annotations:
      eks.amazonaws.com/role-arn: arn:aws:iam::877817966050:role/ebs_csi_policy


---

apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: jenkins-pod-manager
  namespace: jenkins
rules:
  - apiGroups: [""]
    resources:
      - pods
      - pods/exec
      - secrets
    verbs:
      - get
      - list
      - watch
      - create
      - patch
      - update
      - delete
  - apiGroups: [""]
    resources:
      - pods/log
    verbs:
      - get
      - list
      - watch

---

apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: jenkins-pod-manager-binding
  namespace: jenkins
subjects:
  - kind: ServiceAccount
    name: jenkins-sa
    namespace: jenkins
roleRef:
  kind: Role
  name: jenkins-pod-manager
  apiGroup: rbac.authorization.k8s.io
